<ion-pane>
    <div class="bar bar-header bar-assertive">
        <div class="h1 title">Contact</div>
        <a href="#front" class="button button-clear button-light"  nav-direction='back'>back</a>
    </div>
    <ion-content class="has-header">
        <ul class="list">
            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                (021) 22704966
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-email"></i>
                sekolah@smkmediainformatika.sch.id
            </div>
            <div class="item item-icon-left" >
                <i class="icon ion-social-instagram"></i>
                smk_mediainformatika
            </div>
        </ul>
    </ion-content>
</ion-pane>