<ion-header-bar>
    <img src="http://ppdb.smkmediainformatika.sch.id//assets/img/logo_dashboard.png" style="display: block;
    margin: 0 auto; max-width: 130%; height: 100%;">
</ion-header-bar>
<ion-content has-header="true">
   <img class="homeimg" src="https://i.ytimg.com/vi/ZB4HLeJ9uuY/maxresdefault.jpg">
    <div class="container">
        <div class="cell-row cell-row2">
            <div class="cell-3">
                <div>
                    <div>
                        <a href="#/visim" nav-direction="forward"><i class="ion-ribbon-a"></i></a>
                    </div>
                    <div>Visi dan Misi</div>
                </div>
            </div>
            <div class="cell-4">
                <div>
                    <div>
                        <a href="#/prodi" nav-direction="forward"><i class="ion-ribbon-b"></i></a>
                    </div>
                    <div>Program Keahlian</div>
                </div>
            </div>
        </div>
        <div class="cell-row cell-row-3">
            <div class="cell-5">
                <div>
                    <div>
                        <a href="#/news/:id" nav-direction="forward"><i class="ion-clipboard"></i></a>
                    </div>
                    <div>Berita</div>
                </div>
            </div>
            <div class="cell-6">
                <div>
                    <div>
                        <a href="#/contact" nav-direction="forward"><i class="ion-ios-telephone"></i></a>
                    </div>
                    <div>kontak</div>
                </div>
            </div>
        </div>
        <div class="cell-row cell-row-1">
            <div class="cell-1">
                <div>
                    <div>
                        <a href="#/login" nav-direction="forward"><i class="ion-ios-pie"></i></a>
                    </div>
                    <div>E-Rapot</div>
                </div>
            </div>
            <div class="cell-2">
                <div>
                    <div>
                        <a href="#/location" nav-direction="forward"><i class="ion-location"></i></a>
                    </div>
                    <div>Lokasi</div>
                </div>
            </div>
        </div>

    </div>
</ion-content>