<ion-nav-bar>
    <ion-nav-buttons side="primary">
        <button class="button button-clear button-light" ng-click="doAbout()">
            back
        </button>
    </ion-nav-buttons>
    <ion-nav-title>Lokasi</ion-nav-title>
</ion-nav-bar>
<ion-content>
    <div id="map" data-tap-disabled="true"></div>

</ion-content>
<ion-footer-bar>
    <div class="padding center" style="size: 30%;">
       
    <h3 align ="center">SMK MEDIA INFORMATIKA</h3>
    <p align="center">
        Jalan Lestari 2, RT.004/02, Petukangan Selatan, Pesanggrahan, Petukangan Sel., Pesanggrahan, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12270
    
    </p>
    </div>
</ion-footer-bar>