
<ion-view view-title="Dashboard">
    <ion-content>
      <div class="row"></div>
       <p>&nbsp;Selamat Datang  <b>{{isi.nama}} ( {{isi.nis}} )</b></p> 
      </div>
      <div class="row">
        <br>
        <div class="col col-85">
        <div class="card center">
          <div class="item item-divider">
              Identitas Siswa/i
          </div>
          <div class="item item-text-wrap">
            <table >
              <tr>
                <td>NIS</td>
                <td>&nbsp;:&nbsp;</td>
                <td>{{isi.nis}}</td>
              </tr>
              <tr>
                <td>Nama</td>
                <td>&nbsp;:&nbsp;</td>
                <td>{{isi.nama}}</td>
              </tr>
              <tr>
                <td>Alamat</td>
                <td>&nbsp;:&nbsp;</td>
                <td>{{isi.alamat}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      </div>
    </ion-content>
  </ion-view>
  