<ion-view cache-view="false" hide-nav-bar="true">
    <ion-header-bar>
        <a href="#/app/mapel" class="button icon ion-ios-arrow-back" style="background-color: #17297a; color: white;"> MataPelajaran </a>
        <h1 class="title">Update Mapel</h1>
    </ion-header-bar>

    <ion-content>
        <form ng-submit="updateMapel()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">KD Mapel</span>
                    <input type="text" ng-model="mapelDataUpdate.mapel_kd_update" disabled>
                </label>
                <label class="item item-input">
                    <span class="input-label">Nama Mapel</span>
                    <input type="text" ng-model="mapelDataUpdate.mapel_nama_update">
                </label>
                <label class="item">
                    <button class="button button-block button-positive">Update</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>