<ion-pance>
    <div class="bar bar-header bar-assertive">
        <div class="h1 title">Program Keahlian</div>
        <a href="#front" class="button button-clear button-light"  nav-direction='back'>back</a>
    </div>
    <ion-content class="has-header">
        <ul class="list">
            <a class="item item-icon-left" href="#/rpl">
                <i class="icon ion-code"></i>
                Rekayasa Perangkat Lunak
            </a>
            <a class="item item-icon-left" href="#/tkj">
                <i class="icon ion-usb"></i>
                Teknik Komputer Jaringan
            </a>
            <a class="item item-icon-left" href="#/mm">
                <i class="icon ion-wand"></i>
                Multimedia
            </a>
            <a class="item item-icon-left" href="#/brodcast">
                <i class="icon ion-videocamera"></i>
                Brodcasting
            </a>
        </ul>
    </ion-content>
</ion-pance>