<style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>
<ion-nav-view>
    <ion-header-bar class="bar-assertive">
        <div class="h1 title">Teknik Komputer Jaringan</div>
        <a href="#/prodi" class="button button-clear button-light"  nav-direction='back'>back</a>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-card>
            <img src="https://3.bp.blogspot.com/-nJwMpc5isc4/XiwEV3opEOI/AAAAAAAAA8g/ET4VBpAcVFgd1vAgsEyj72-N8KbWJgqNgCLcBGAsYHQ/s640/Pengertian%2BTKJ.png">
            <ion-card-header>
              <ion-card-subtitle>“Program Keahlian yang memeprsiapkan peserta didik menjadi tenaga yang terampil di bidang perangkat teknologi informasi, mendiagnosa serta memperbaiki software dan hardware. Dalam dunia networking (jaringan) peserta didik dibekali dengan pengetahuan teori dan praktek mulai dari LAN, WAN serta internet.”</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Visi</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                “MENCETAK TENAGA PROFESIONAL DI BIDANG TEKNIK KOMPUTER DAN JARINGAN BERSTANDAR INTERNASIONAL SERTA TERWUJUDNYA SUMBER DAYA MANUSIA YANG CERDAS, TERAMPIL, BERDAYA SAING, BERAKHLAK MULIA, DAN BERWAWASAN KEBANGSAAN”
              </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Misi</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                1. Menghasilkan Tamatan Yang Memiliki Kompetensi Tinggi Dan Terampil Dalam Bidang Jaringan Komputer Serta Berwawasan Global Dan Bertaqwa Kepada Tuhan Yang Maha Esa<br>
                2. Mewujudkan peningkatan kualitas SDM yang merata dalam rangka memenuhi hak konstitusional warga masyarakat dalam memperoleh pendidikan yang bermutu, dalam rangka mewujudkan keadilan sosial yang dapat dinikmati oleh seluruh warga masyarakat<br>
                3. Menghasilkan tamatan yang mampu mengembangkan diri dan bersaing di lapangan kerja<br>
                4. Mengikuti perkembangan sesuai kepentingan masyarakat dan lingkungannya<br>
                5. Mewujudkan peningkatan kualitas layanan yang bermutu, berdaya saing, dan relevan dengan kebutuhan masyarakat yang berbasis pada kepentingan masyarakat dan yang berpedoman pada Standar Nasional Pendidikan
              </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Program Keahlian</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ul style="list-style: disc; margin-left: 10px;">
                    <li>Menginstal perangkat komputer personal</li>
                    <li>Menginstal perangkat komputer personal</li>
                    <li>Menginstal sistem operasi jaringank</li>
                    <li>Web Database content server</li>
                    <li>Perancangan Wide Area Network</li>
                </ul>
              </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Peluang Kerja</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                    “Menjadi technical Support dan administratorIT pada semua perusahaan yang memiliki perangkat komputer (hampir setiap perusahaan), ataupun dapat menjadi pengusaha komputer yang bergerak di bidang jasa ataupun penjualan perangkat komputer”
                </ul>
              </ion-card-content>
        </ion-card>
    </ion-content>
</ion-nav-view>